@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer {
    background-color: $color-secondary;

    &__content {

        @include flex-row-center;
        gap: 0.5rem;
        
        @include screen-md {
            gap: 1rem;
        }

        .footer__bullet {
            width: 0.75rem;
            height: 0.75rem;
            border: 1.5px solid $color-primary;
            border-radius: 50%;
        }

        .footer__item {
            position: relative;

            a {
                text-transform: uppercase;
                font-family: $font-primary;
                font-weight: 300;
                color: $color-primary;
                font-size: 1.3rem;
                
                @include screen-md {
                    font-size: 2rem;
                }
            }
        }
    }
    
    @include screen-lg {
        display: none;
    }
}