@use '../utils/variables'as *;
@use '../utils/mixins' as *;

.header {
    $size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    fill: $color-text-primary;
    width: 100%;
    // opacity: 0.85;

    @include screen-lg {
        @include flex-column-start;
        // background-color: red;
        height: calc(100vh - 4rem);
        position: fixed;
    }

    &__logo {
        img {
            width: $size;

            @include screen-xl {
                width: 3.5rem;
            }
        }
    }

    &__hamburger {
        img {
            width: $size;
        }

        @include screen-lg {
            display: none;
        }
    }

    &__nav--dekstop {
        display: none;

        @include screen-lg {
            @include flex-column-start;
            gap: 1rem;

            li {
                a {
                    color: $color-secondary;
                    text-transform: uppercase;
                    font-size: 1.35rem;
                    font-weight: 300
                }
                
                @include screen-xl {

                    a {
                        font-size: 1.75rem;
                    }
                }
            }
        }
    }

    &__socials {
        display: none;

        @include screen-lg {
            @include flex-column-start;
            gap: 1rem;
        }
    }
}