@use '../utils/variables'as *;
@use '../utils/mixins'as *;

.logo-bg {

    width: 100vw;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    // @include screen-md {
    //     $size: 1.35rem;
    //     width: 37.5 * $size;
    //     height: 45 * $size;

    // }

    // @include screen-lg {
    //     $size: 1.6rem;
    //     width: 37.5 * $size;
    //     height: 45 * $size;
    // }

    // @include screen-xl {
    //     $size: 2rem;
    //     width: 37.5 * $size;
    //     height: 45 * $size;
    // }

    .logo-bg__container {
        $size: 20vw;
        width: 7*$size;
        height: 10*$size;
        @include center;
        opacity: .75;

        @include screen-sm {
            $size: 17.5vw;
            width: 7*$size;
            height: 10*$size;
        }

        @include screen-lg {
            $size: 8vw;
            width: 7*$size;
            height: 10*$size;
        }

        @include screen-xl {
            $size: 8vw;
            width: 7*$size;
            height: 10*$size;
        }

        .logo-bg__shapes {
            position: relative;
            width: 100%;
            height: 100%;

            .logo-bg__shape {
                opacity: 0.5;
                width: 47.5%;
                height: 48%;
                border-radius: 0 55vw 55vw 0;
                background: rgb(255, 255, 255);
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
            }

            .logo-bg__shape-1 {
                bottom: 0;
                position: absolute;
            }

            .logo-bg__shape-2 {
                top: 0;
                right: 0;
                position: absolute;
            }

            .logo-bg__shape-3 {
                bottom: 0;
                right: 0;
                position: absolute;
            }
        }
    }
}

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    // overflow-x: hidden;

    @include screen-lg {
        height: 100vh;
        width: calc(100vw - 2rem);
        padding: 2rem;
    }



    &__shapes {
        display: flex;
        gap: 1rem;
        @include center;

        //     .hero__shape {
        //         overflow: hidden;
        //         $size: 2.5rem;
        //         width: $size * 13;
        //         height: $size * 15;
        //         border-radius: 0 $size*6 $size*6 0;
        //         border: 0.1px solid $color-secondary;
        //         // background-image: linear-gradient(70deg,
        //         //         hsl(0deg 0% 21%) 0%,
        //         //         hsl(229deg 28% 40%) 11%,
        //         //         hsl(228deg 35% 52%) 22%,
        //         //         hsl(228deg 55% 61%) 33%,
        //         //         hsl(228deg 82% 69%) 44%,
        //         //         hsl(228deg 97% 76%) 56%,
        //         //         hsl(228deg 89% 82%) 67%,
        //         //         hsl(227deg 75% 86%) 78%,
        //         //         hsl(222deg 52% 90%) 89%,
        //         //         hsl(144deg 16% 94%) 100%);

        //         background-image: linear-gradient(70deg,
        //                 hsl(0deg 0% 21%) 0%,
        //                 hsl(144deg 0% 27%) 24%,
        //                 hsl(144deg 0% 33%) 35%,
        //                 hsl(144deg 1% 39%) 44%,
        //                 hsl(144deg 1% 45%) 51%,
        //                 hsl(144deg 1% 52%) 57%,
        //                 hsl(144deg 1% 59%) 64%,
        //                 hsl(144deg 2% 65%) 70%,
        //                 hsl(144deg 2% 72%) 77%,
        //                 hsl(144deg 4% 79%) 84%,
        //                 hsl(144deg 7% 87%) 91%,
        //                 hsl(144deg 16% 94%) 100%);

        //         $size: 2rem;
        //         width: $size * 7;
        //         height: $size * 9;
        //         border-radius: 0 $size*3.5 $size*3.5 0;
        //         opacity: 0.75;

        //         @include screen-sm {
        //             $size: 2.5rem;
        //             width: $size * 7;
        //             height: $size * 9;
        //             border-radius: 0 $size*3.5 $size*3.5 0;
        //         }

        //         @include screen-md {
        //             $size: 5rem;
        //             width: $size * 7;
        //             height: $size * 9;
        //             border-radius: 0 $size*3.5 $size*3.5 0;
        //         }

        //         @include screen-lg {
        //             $size: 5rem;
        //             width: $size * 7;
        //             height: $size * 9;
        //             border-radius: 0 $size*3.5 $size*3.5 0;
        //         }

        //         @include screen-xl {
        //             width: $size * 7;
        //             height: $size * 9;
        //             border-radius: 0 $size*3.5 $size*3.5 0;
        //         }

        //         &.hero__shape--outline {
        //             //   border: 0.1px solid $color-secondary;
        //             background-image: linear-gradient(70deg,
        //                     rgba(255, 255, 255, 0) 0%,
        //                     rgba(255, 255, 255, 0) 11%,
        //                     rgba(90, 107, 175, 0) 22%,
        //                     rgba(101, 123, 210, 0) 33%,
        //                     rgba(111, 137, 241, 0) 44%,
        //                     rgba(134, 158, 253, 0) 56%,
        //                     rgba(168, 184, 250, 0) 67%,
        //                     rgba(193, 204, 246, 0) 78%,
        //                     rgba(216, 224, 243, 0) 89%,
        //                     rgba(237, 242, 239, 0) 100%);
        //             background-color: transparent;
        //             opacity: 0.5;
        //         }
        //     }
    }

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000vw;
        z-index: -1;

        @include screen-sm {
            width: 700vw;
        }

        @include screen-md {
            width: 600vw;

        }

        @include screen-lg {
            left: 60%;
            width: 450vw;
        }

        @include screen-xl {
            width: 500rem;
        }
    }

    &__name {
        @include flex-column-center;
        @include center;
        font-family: $font-secondary;
        width: 100%;
        text-transform: uppercase;

        .hero__name-content {
            position: relative;

            .hero__intro {
                color: $color-tertiary;
                line-height: 1.25;
                position: absolute;
                font-size: 6.5vw;
                top: -15%;
                left: 15%;
                line-height: 1;

                @include screen-sm {
                    font-size: 5.5vw;
                    top: -10%;
                }

                @include screen-md {
                    font-size: 3rem;
                    top: -10%;
                }

                @include screen-lg {
                    font-size: 3rem;
                    top: -5%;
                }

                @include screen-xl {
                    font-size: 4rem;
                    top: -10%;
                }
            }

            .hero__firstname {
                font-size: 23vw;

                @include screen-sm {
                    font-size: 22vw;
                }

                @include screen-md {
                    font-size: 12rem;
                }

                @include screen-lg {
                    font-size: 14rem;
                }

                @include screen-xl {
                    font-size: 16rem;
                }
            }

            .hero__lastname {
                font-size: 6.5vw;
                position: absolute;
                bottom: -7.5%;
                right: 15%;
                font-family: $font-primary;
                // font-weight: 300;

                @include screen-sm {
                    font-size: 5.5vw;
                    bottom: -2.5%;
                }

                @include screen-md {
                    font-size: 3rem;
                    bottom: 0%;
                    right: 15%;
                }

                @include screen-lg {
                    font-size: 3rem;
                    bottom: 2.5%;
                    right: 15%;
                }

                @include screen-xl {
                    font-size: 4rem;
                    bottom: -2.5%;
                    right: 15%;
                }

            }
        }
    }

    .hero__function {
        @include flex-column-center;
        position: absolute;
        font-family: $font-secondary;
        text-transform: uppercase;
        text-align: center;
        bottom: 1rem;
        font-size: 6vw;
        line-height: 1.25;
        width: 100%;

        @include screen-sm {
            font-size: 5vw;
        }

        @include screen-md {
            font-size: 2.5rem;
        }

        @include screen-md {
            font-size: 2.5rem;
            bottom: 2rem;
        }

        @include screen-md {
            font-size: 3rem;
            bottom: 2rem;
        }
    }
}