@use '../utils/variables'as *;
@use '../utils/mixins'as *;

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    @include screen-lg {
        height: 100vh;
        width: calc(100vw - 2rem);
        padding: 2rem;
    }
    
    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @include screen-sm {
            padding-left: 3.5rem;
        }

        @include screen-md {
            padding-left: 5rem;
        }

        @include screen-lg {
            width: 100%;
            @include flex-column-center;
        }

        .title {
            font-size: 2.5rem;

            @include screen-xs {
                font-size: 3.25rem;
                max-width: 25rem;
            }

            @include screen-sm {
                max-width: 30rem;
                font-size: 4rem;
            }

            @include screen-md {
                font-size: 4.5rem;
                max-width: 35rem;
            }
            
            @include screen-lg {
                max-width: 40rem;
                font-size: 5rem;
                text-align: center;
            }
        }

        .title--primary-sm {
            @include screen-lg {
                // font-size: 5rem;
            }
        }

        .text-primary {
            max-width: 20rem;
            font-size: 1.2rem;

            @include screen-xs {
                font-size: 1.5rem;
                max-width: 25rem;
            }

            @include screen-sm {
                font-size: 1.5rem;
                max-width: 30rem;
            }

            @include screen-md {
                font-size: 1.8rem;
                max-width: 35rem;
            }
            
            @include screen-lg {
                max-width: 35rem;
                font-size: 1.8rem;
                text-align: center;
            }
        }
    }



    // &__shapes {
    //     display: flex;
    //     gap: 1rem;
    //     @include center;
    // }

    // &__bg {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     width: 1000vw;
    //     z-index: -1;

    //     @include screen-sm {
    //         width: 700vw;
    //     }

    //     @include screen-md {
    //         width: 600vw;

    //     }

    //     @include screen-lg {
    //         left: 60%;
    //         width: 450vw;
    //     }

    //     @include screen-xl {
    //         width: 500rem;
    //     }
    // }

    // &__name {
    //     font-family: $font-secondary;
    //     @include flex-column-center;
    //     @include center;
    //     width: 100%;
    //     text-transform: uppercase;

    //     .hero__name-content {
    //         position: relative;

    //         .hero__intro {
    //             color: $color-tertiary;
    //             line-height: 1.25;
    //             position: absolute;
    //             font-size: 6vw;
    //             top: -12.5%;
    //             left: 15%;
    //             line-height: 1;

    //             @include screen-sm {
    //                 font-size: 5vw;
    //                 top: -7.5%;
    //             }

    //             @include screen-md {
    //                 font-size: 2.5rem;
    //                 top: -4%;
    //             }

    //             @include screen-lg {
    //                 font-size: 2.5rem;
    //                 top: -5%;
    //             }

    //             @include screen-xl {
    //                 font-size: 3.5rem;
    //                 top: -6%;
    //             }
    //         }

    //         .hero__firstname {
    //             font-size: 23vw;


    //             @include screen-sm {
    //                 font-size: 22vw;
    //             }

    //             @include screen-md {
    //                 font-size: 12rem;
    //             }

    //             @include screen-lg {
    //                 font-size: 12rem;
    //             }

    //             @include screen-xl {
    //                 font-size: 15rem;
    //             }
    //         }

    //         .hero__lastname {
    //             font-size: 6.5vw;
    //             position: absolute;
    //             bottom: -5%;
    //             right: 15%;
    //             text-transform: capitalize;
    //             font-family: $font-primary;
    //             // font-weight: 400;

    //             @include screen-sm {
    //                 font-size: 5.5vw;
    //                 bottom: -0%;
    //             }

    //             @include screen-md {
    //                 font-size: 3rem;
    //                 bottom: -1%;
    //                 right: 15%;
    //             }

    //             @include screen-lg {
    //                 font-size: 2.75rem;
    //                 bottom: 0%;
    //                 right: 15%;
    //             }

    //             @include screen-xl {
    //                 font-size: 4rem;
    //                 bottom: -1%;
    //                 right: 15%;
    //             }

    //         }
    //     }
    // }

    // .hero__function {
    //     @include flex-column-center;
    //     position: absolute;
    //     font-family: $font-secondary;
    //     text-transform: uppercase;
    //     text-align: center;
    //     bottom: 1rem;
    //     font-size: 6vw;
    //     line-height: 1.25;
    //     width: 100%;

    //     @include screen-sm {
    //         font-size: 5vw;
    //     }

    //     @include screen-md {
    //         font-size: 2.5rem;
    //     }

    //     @include screen-md {
    //         font-size: 2.5rem;
    //         bottom: 2rem;
    //     }

    //     @include screen-md {
    //         font-size: 2.5rem;
    //         bottom: 2rem;
    //     }
    // }
}