@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;

  @include screen-lg {
    height: 100vh;
    width: calc(100vw - 2rem);
    padding: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    height: 33rem;

    
    @include screen-xs {
        height: 34rem;
    }
    
    @include screen-sm {
        padding-left: 3.5rem;
        height: 32rem;
    }
    
    @include screen-md {
        padding-left: 5rem;
        height: 36rem;
    }
    
    @include screen-lg {
        @include position-center;
        width: 100%;
      height: 34rem;
      @include flex-column-center;
    }

    .title {
      font-size: 2.5rem;

      .frame {
        overflow: hidden;

        span {
          display: block;
        }
      }

      @include screen-xs {
        font-size: 3.25rem;
        max-width: 25rem;
      }

      @include screen-sm {
        max-width: 30rem;
        font-size: 4rem;
      }

      @include screen-md {
        font-size: 4.5rem;
        max-width: 35rem;
      }

      @include screen-lg {
        max-width: 40rem;
        font-size: 5rem;
        text-align: center;
      }
    }

    .title--primary-sm {
      @include screen-lg {
      }
    }

    .text-primary {
      opacity: 0;
      max-width: 20rem;
      font-size: 1.2rem;

      @include screen-xs {
        font-size: 1.5rem;
        max-width: 25rem;
      }

      @include screen-sm {
        font-size: 1.5rem;
        max-width: 30rem;
      }

      @include screen-md {
        font-size: 1.8rem;
        max-width: 35rem;
      }

      @include screen-lg {
        max-width: 35rem;
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }

  .hero__text {
    .hero__text-content {
      font-size: 1.5rem;
      font-weight: 250;
      font-style: normal;
      line-height: 1.3;

      .text {
        max-width: 20rem;
        font-size: 1.2rem;

        @include screen-xs {
          font-size: 1.5rem;
          max-width: 25rem;
        }

        @include screen-sm {
          font-size: 1.5rem;
          max-width: 30rem;
        }

        @include screen-md {
          font-size: 1.8rem;
          max-width: 35rem;
        }

        @include screen-lg {
          max-width: 35rem;
          font-size: 1.8rem;
          text-align: center;
        }
      }
    }
  }

  .hero__btn {
    margin-left: 0.5rem;
  }
}
