@use '../utils/variables'as *;
@use '../utils/mixins'as *;

.nav-mobile {
    background-color: $color-tertiary;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    z-index: 100;
    
    .nav-mobile__content {
        @include flex-column;
        justify-content: space-between;
        gap: 3rem;
        height: 100%;

        .nav-mobile__top {
            @include flex-row-between;

            

        }

        .nav-mobile__list {
            @include flex-column-center;
            gap: 1rem;

            li {
                a {
                    color: $color-secondary;
                    font-family: $font-secondary;
                    font-size: 2rem;
                    text-transform: uppercase;
                }
            }
        }

        .nav-mobile__socials {
            @include flex-row-center;
            gap: 1rem;

            path {
                fill: $color-primary;
            }
        }
    }

}