@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.container {
    width: 2rem;
    height: 2rem;
}


.btn {
    @include flex-row-center;
    font-family: $font-primary;
    // background: radial-gradient(circle, #5e7ee8 0%, #4f72db 100%);
    // background-color: $color-tertiary-2; 
    border: 1px solid $color-secondary;
    border-radius: 1rem;
    color: $color-secondary;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    width: fit-content;
    cursor: pointer;
    // text-transform: uppercase;
    gap: 0.5rem;

    span {
        pointer-events: none;
    }

    &:hover {
        background: $color-secondary;
        color: $color-primary;
    }

    &:hover svg path {
        fill: $color-primary;
    }
    
    @include screen-md {
        gap: 0.75rem;
        font-size: 1.3rem;
    }
}