@use '../utils/variables'as *;
@use '../utils/mixins'as *;

.about {

    &__content {

        @include flex-column-center;
        $size: 15rem;

        @include screen-md {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0.5rem;
        }

        @include screen-lg {
            padding: 0;
        }


        .about__text {
            @include screen-md {
                text-align: start;
                position: relative;
                padding-left: 2rem;

                // &::after {
                //     content: "";
                //     height: 90%;
                //     width: 1px;
                //     position: absolute;
                //     background-color: $color-tertiary;
                //     left: 0;
                //     top: 0;
                // }
            }

            @include screen-lg {
                font-size: 1.5rem;
            }
        }

        .about__img {
            object-fit: cover;
            width: $size;
            height: $size;
            filter: grayscale(50%);

            @include screen-md {
                order: -1;
                width: 13.5rem;
                height: 13.5rem;
            }
        }
    }
}

.skills {
    
    .skills__bg {
        
        background: rgb(167, 167, 167);
        background: linear-gradient(90deg, rgba(167, 167, 167, 0.231) 0%, rgba(177, 177, 177, 0.203) 35%, rgba(137, 137, 137, 0.154) 100%);
        
        @include screen-md {
            border-radius: 0 11rem 11rem 0;
            // border-radius: 10rem;
        }
        
        .skills__title {
            
            @include screen-lg {
                font-size: 5rem;
                padding-bottom: 0;
        }
    }
    
    
    .skills__content {
        
        @include flex-column;
            gap: 3rem;
            position: relative;
            
            @include screen-md {
                align-items: flex-start;
                width: 100%;
                padding: 3rem;
                width: fit-content;
                
            }
            
            
            .skill {
                @include flex-column-center;
                gap: 0.5rem;
                
                @include screen-md {
                    flex-direction: row;
                    gap: 1.5rem;
                }
                
                &__icon {
                    width: 4rem;
                    fill: $color-tertiary;
    
                    @include screen-md {
                        width: 4.5rem;
                    }
                }
                
                &__title {
                    font-size: 1.8rem;
    
                    @include screen-md {
                        font-size: 2rem;
                    }
    
                    @include screen-lg {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}