@use '../utils/variables'as *;
@use '../utils/mixins'as *;

.about {

    &__content {

        @include flex-column-center;

        @include screen-md {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0;
        }

        @include screen-lg {
            padding: 0;
        }


        .about__text {
            @include screen-md {
                text-align: start;
                position: relative;
                padding-left: 2rem;

                // &::after {
                //     content: "";
                //     height: 90%;
                //     width: 1px;
                //     position: absolute;
                //     background-color: $color-tertiary;
                //     left: 0;
                //     top: 0;
                // }
            }

            @include screen-lg {
                font-size: 1.5rem;
            }
        }

        .about__img-container {
            order: -1;

            .about__img {
                object-fit: cover;
                $size: 10rem;
                width: $size;
                height: $size;
                box-shadow: 1px 1px 8px 0px #232222;

                @include screen-md {
                    width: 13.5rem;
                    height: 13.5rem;
                }
            }


        }

    }
}

.skills {

    .skills__bg {
        background: rgba(101, 101, 101, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        @include screen-md {
            // border-radius: 10rem;
        }




        .skills__content {

            @include flex-column;
            padding-top: 2rem;

            gap: 3rem;
            position: relative;

            @include screen-md {
                align-items: flex-start;
                width: 100%;
                padding: 3rem;
                width: fit-content;
            }

            @include screen-lg {
                // padding-top: 0;
            }


            .skill {
                @include flex-column-center;
                gap: 0.5rem;

                @include screen-md {
                    flex-direction: row;
                    gap: 1.5rem;
                }

                &__icon {
                    width: 5rem;
                    fill: $color-tertiary;

                    @include screen-md {
                        width: 5rem;
                    }
                }

                &__title {
                    font-size: 1.65rem;
                    text-align: center;
                    padding: 0 1rem;

                    @include screen-md {
                        font-size: 2rem;
                    }

                    @include screen-lg {
                        // font-size: 2.5rem;
                    }
                }
            }
        }
    }
}