@use '../utils/mixins'as *;
@use '../utils/variables'as *;

.contact {
    @include flex-column-center;
    position: relative;
    padding-bottom: 3rem;

    @include screen-lg {
        align-items: flex-start;
        padding: 0;
    }

    
    &__bg {
        @include center;
        pointer-events: none;
        background-image: url('../src/assets/SVG/bg-chain-2.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.85;
    }
    
    &__content {
        @include flex-column-center;
        width: 100%;

        .contact__title {
            font-size: 4rem;
            font-family: $font-secondary;
        }

        @include screen-lg {

            padding: 3rem 0 3rem;
            
            .contact__title {
                font-size: 5rem;
                font-family: $font-secondary;
            }
        }
    
        .contact__text {
            @include flex-column-center;
    
            @include screen-lg {
                font-size: 1.5rem;
            }
    
            p {
                @include screen-lg {
                    // text-align: start;
                    width: 75%;
                }
            }
        }

        .contact__btn {
            margin-bottom: 1.5rem;
        }
    }
}