@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.projects {
  .projects__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include screen-sm {
      padding: 0;
    }
  }

  .project {
    width: 100%;
    height: 100%;
    position: relative;

    @include screen-md {
      width: calc(50% - 0.5rem);
    }

    &:hover .project__tags {
      opacity: 1;
    }

    .project__title {
      @include center;
      z-index: 1;
      font-weight: 500;
      font-size: min(7.5vw, 2.25rem);
      color: $color-secondary;
      width: 90%;
    }

    .project__tags {
      @include flex-row-center;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      gap: 0.25rem;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.2s ease;

      .project__tag {
        outline: 1.5px solid $color-tertiary-3;
        color: $color-secondary;
        border-radius: 0.75rem;
        font-size: 0.8rem;
        width: fit-content;
        font-weight: 500;
        padding: 0.25rem 0.5rem;
        opacity: 0.85;
      }
    }

    .project__link {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      background-position: center;
      background-size: 165%;
      transition: all 1s ease;
      border-radius: 2.5rem;
      filter: grayscale(70%);
      margin-bottom: 1rem;

      @include screen-lg {
        margin-bottom: 1rem;
      }

      &::after {
        content: "";
        border-radius: 2.5rem;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #60606089;
      }

      &:hover {
        filter: grayscale(0%);
        background-size: 180%;
      }

      &:hover .project__description {
        opacity: 1;
      }

      .project__description {
        font-size: 0.9rem;
        color: $color-secondary;
        text-align: center;
        width: 90%;
        z-index: 1;
        font-weight: 300;
        position: relative;
        top: 2.5rem;
        opacity: 0;
        transition: opacity 0.2s ease;

        @include screen-sm {
          font-size: 1.1rem;
          top: 2.7rem;
        }

        @include screen-lg {
          font-size: 1rem;
          top: 2.7rem;
        }
      }
    }

    &__title {
      font-weight: 500;
      text-shadow: 1px;
      text-align: center;
    }
  }
}
