// Reset

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
// Variables

$color-primary: #FF7360;
$color-secondary: #A89D8E;  
$color-tertiary: #363636;  

$color-text-primary: #EBF6FF;  
$color-text-secondary: #FFFFFF;  

$font-primary: 'Montserrat';
$font-secondary: 'Megrim';
$font-tertiary: 'Poiret One';

// Spacing

$space-unit: 1rem;
$space-xxs: calc(0.25 * $space-unit);
$space-xs: calc(0.5 * $space-unit);
$space-sm: calc(0.75 * $space-unit);
$space-md: calc(1.25 * $space-unit);
$space-lg: calc(2 * $space-unit);
$space-xl: calc(3.25 * $space-unit);
$space-xxl: calc(5.25 * $space-unit);

// Spacing 

.p-xs {padding: $space-xs;}
.p-sm {padding: $space-sm;}
.p-md {padding: $space-md;}
.p-lg {padding: $space-lg;}
.p-xl {padding: $space-xl;}
.p-xxl {padding: $space-xxl;}

.ph-xs {padding: 0 $space-xs;}
.ph-sm {padding: 0 $space-sm;}
.ph-md {padding: 0 $space-md;}
.ph-lg {padding: 0 $space-lg;}
.ph-xl {padding: 0 $space-xl;}
.ph-xxl {padding: 0 $space-xxl;}

.pv-xs {padding: $space-xs 0;}
.pv-sm {padding: $space-sm 0;}
.pv-md {padding: $space-md 0;}
.pv-lg {padding: $space-lg 0;}
.pv-xl {padding: $space-xl 0;}
.pv-xxl {padding: $space-xxl 0;}

.pb-xs {padding-bottom: $space-xs;}
.pb-sm {padding-bottom: $space-sm;}
.pb-md {padding-bottom: $space-md;}
.pb-lg {padding-bottom: $space-lg;}
.pb-xl {padding-bottom: $space-xl;}
.pb-xxl {padding-bottom: $space-xxl;}

.pt-xs {padding-top: $space-xs;}
.pt-sm {padding-top: $space-sm;}
.pt-md {padding-top: $space-md;}
.pt-lg {padding-top: $space-lg;}
.pt-xl {padding-top: $space-xl;}
.pt-xxl {padding-top: $space-xxl;}

// Fonts

@font-face {
    font-family: 'Montserrat';
    src: url('../src/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../src/assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('../src/assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../src/assets/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../src/assets/fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'Poiret One';
    src: url('../src/assets/fonts/PoiretOne-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/PoiretOne-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Megrim';
    src: url('../src/assets/fonts/Megrim.woff2') format('woff2'),
        url('../src/assets/fonts/Megrim.woff') format('woff');
}

* {
    box-sizing: border-box;  
}

body {
    color: $color-text-primary;  
    font-family: $font-primary;
    line-height: 1.5;
    margin: 0;
    background-color: $color-secondary;
}

// Typography

h2 {
    font-family: $font-tertiary;
    font-size: 10rem;
    text-transform: uppercase;
}

p {
    margin-bottom: 1.5rem;
}

// Text

.text-center {
    text-align: center;
}

// Overflow

.overflow-hidden {
    overflow-x: hidden;
}

.img-full-width {
    width: 100%;
}

.img-border-radius {
    border-radius: 5rem;
}

.img-box-shadow {
    box-shadow: 0px 1px 10px -4px $color-tertiary;
}

// Wrapper 

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}

.wrapper--sm {

}

.wrapper-md {

}

.wrapper-lg {

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    fill: $color-text-primary;
    
    &__logo {
        
    }
    
    &__hamburger {
        
    }
}

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .hero__bg {
        position: absolute;
        width: 150%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // left: 50%;
        // bottom: 50%;
        z-index: -1;
    }

    &__name {
        font-family: "Megrim";
        display: flex;
        flex-direction: column;
        align-items: center;

        .hero__firstname {
            font-size: 7rem;
        }
        .hero__lastname {
            font-size: 2rem;
            position: relative;
            bottom: 22%;
            left: 7%;
        }
    }

    .hero__function {
        position: relative;
        font-family: $font-tertiary;
        font-size: 2.5rem;
        display: block;
        align-self: end;
        width: 14rem;
        text-transform: uppercase;
        bottom: 5vh;
        text-align: end;
    }
}

// Skills

.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;

        &__icon {
            width: 4rem;
        }

        &__title {
            font-family: $font-secondary;
            font-size: 1.5rem;
        }
    }
}

// Projects

.projects {
    
    .projects__content {           
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        // background-color: red;
        // border: 2px solid black;
        width: 50%;
        height: 12.5rem;
        background-image: url("../src/assets/images/brochure-01.jpg");
        background-size: cover;

        &__link {
            display: block;
            width: 100%;
            height: 100%;
        }

        &__btn {
            
        }
    }
}