@use '../utils/variables' as *;

.p-xs {padding: $space-xs;}
.p-sm {padding: $space-sm;}
.p-md {padding: $space-md;}
.p-lg {padding: $space-lg;}
.p-xl {padding: $space-xl;}
.p-xxl {padding: $space-xxl;}

.ph-xs {padding: 0 $space-xs;}
.ph-sm {padding: 0 $space-sm;}
.ph-md {padding: 0 $space-md;}
.ph-lg {padding: 0 $space-lg;}
.ph-xl {padding: 0 $space-xl;}
.ph-xxl {padding: 0 $space-xxl;}

.pv-xs {padding: $space-xs 0;}
.pv-sm {padding: $space-sm 0;}
.pv-md {padding: $space-md 0;}
.pv-lg {padding: $space-lg 0;}
.pv-xl {padding: $space-xl 0;}
.pv-xxl {padding: $space-xxl 0;}

.pb-xs {padding-bottom: $space-xs;}
.pb-sm {padding-bottom: $space-sm;}
.pb-md {padding-bottom: $space-md;}
.pb-lg {padding-bottom: $space-lg;}
.pb-xl {padding-bottom: $space-xl;}
.pb-xxl {padding-bottom: $space-xxl;}

.pt-xs {padding-top: $space-xs;}
.pt-sm {padding-top: $space-sm;}
.pt-md {padding-top: $space-md;}
.pt-lg {padding-top: $space-lg;}
.pt-xl {padding-top: $space-xl;}
.pt-xxl {padding-top: $space-xxl;}

// Wrapper 

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}

.wrapper--sm {

}

.wrapper-md {

}

.wrapper-lg {

}