@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.title-primary {
    font-family: $font-secondary;
    font-size: 15vw;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;

    &::after {
        content: "";
        position: absolute;
        width: 20%;
        height: 10px;
        background-color: $color-tertiary;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    @include screen-sm {
        font-size: 4.25rem;
    }
    
    @include screen-md {
        font-size: 8.5rem;
        
        &::after {
            bottom: -0.5rem;
            bottom: -0.5rem;
        }
    }
    
    @include screen-lg {
        font-size: 8.5rem;

        &::after {
            bottom: 0rem;
        }
    }

    @include screen-xl {
        font-size: 10rem;
    }
}

.title-container {
    overflow: hidden;
}

.title-secondary {
    font-family: $font-secondary;
    text-align: center;
    text-transform: capitalize;
    font-size: 3.5rem;

    @include screen-lg {
        font-size: 3.75rem;
    }
    

    
}

p {
    margin-bottom: 1.5rem;

    @include screen-md {
        font-size: 1.35rem;
    }
    
    @include screen-lg {
        font-size: 1.45rem;
    }

    
}

.text-center {
    text-align: center;
}