@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.title-primary {
    font-family: $font-secondary;
    font-size: 13rem;
    text-transform: uppercase;
    text-align: center;

    @include screen-lg {
        text-align: start;
    }
}

.title-container {
    overflow: hidden;
}

.title-secondary {
    font-family: $font-secondary;
    text-align: center;
    text-transform: capitalize;
    font-size: 3.5rem;
}

p {
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}